<html>
<head>
    <title></title>
    <style>
    thead{
        background: #cdcdcd;
    }
thead th{
    padding: 10px 0px;
}
tbody tr td{
    width: 50%;
}
table{
    width: 100%;
    margin: 0 auto;

}
.logo_head{
    text-align: center;
    padding-top: 15%;
}
.name_title{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
}
.page2 img{
    width: 100px;
}
</style>
</head>
<body>
<div class="logo_head"><img src="logo.png"></div>
<br/><br/>
<div class="name_title"><label>{{ jsonData.entity.name
    }}</label></div>
<br/>
<div class="page2" style="page-break-before:always;text-align: center;"><img src="logo.png"></div>
<br/><br/>
{% for key, value in jsonData.items() %}
    {% if key != 'entity' %}
    <table>
        <thead >
        <th colspan="2">{{ key }}</th>
        </thead>
        <tbody>
        {% for data in jsonData[key] %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endfor %}
</body>
</html>
